﻿<%@ Page Title="" Language="VB" MasterPageFile="~/Admin/MasterPageTIT.master" AutoEventWireup="false" CodeFile="Default2.aspx.vb" Inherits="Admin_Default2" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="asp" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <div>
    
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp<asp:Accordion
            ID="Accordion1" runat="server">
        </asp:Accordion>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<asp:ComboBox ID="ComboBox1" runat="server">
        </asp:ComboBox>
        
    </div>
    
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="head" runat="Server">
 
                           
</asp:Content>

