﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="wuc_HeadMetaTag.ascx.vb" Inherits="wuc_HeadMetaTag" %>

<meta name="keywords" id="metaKeyword" runat="server" content="บริษัท ไทย อิเมจิเนชั่นเทคโนโลยี จำกัด, Thai Imagination Technology, SOFTWARE DEVELOPMENT, รับเขียนโปรแกรม, บริษัทพัฒนาซอร์ฟแวร์, พัฒนาระบบ, ฐานข้อมูล, รับเขียนโปรแกรม, พัฒนา Software, สารสนเทศสำหรับภาครัฐ, GIS, GIS DEVELOPMENT, สารสนเทศภูมิศาสตร์, รับทำแผนที่, Digitize, วิทยากร, Logistics, Aircraft Disassembling, Aluminium and Titanium Supply from Thailand" />
<meta name="description" id="metaDescription" runat="server" content="" />
   