﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="wuc_ERPBIMetaTag.ascx.vb" Inherits="wuc_ERPBIMetaTag" %>

<meta name="keywords" id="metaKeyword" runat="server" content="" />
<meta name="description" id="metaDescription" runat="server" content="" />